__pycache__/
test_other_papers/
*.pdf
*.png
*.pkl
*_None
*.jsonl
.DS_Store
verify_unifiedqa/multiple_choice_datasets/ARC-DA-v1.1/README.md
.ipynb_checkpoints/
*.out
loi.sh
._*
*.txt
verify_unifiedqa/deepspeed/kaggle/input/feedback-prize-2021/train.csv